@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Reset CSS default browser */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Styling Body */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

img {
  object-fit: cover;
  object-position: center;
}

a{
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}